  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

  body {
    background-color: #181818;
    color: white;
    font-family: "Roboto", sans-serif;
    
  }

  a {
    color: inherit;
    text-decoration: none;
    background-color: rgb(88, 88, 211);
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
    
  }
  #qualidadepaddin {
    margin-top: 5px;
  }
  #minhafoto {
    border-radius: 50%;
    
  }


  .center{
    margin: 0 auto;
    width: 400px;
    padding: 1px;
  }

  .separador-de-habilidades li{
    margin-bottom: 5px;
  }

  .separador-de-habilidades li:nth-child(odd){
    list-style: square;
  }